@keyframes enter-measurements {
 0% {
  margin-top: -10px;
  opacity: 75%;
 };
 
 100% {
  margin-top: 0;
  opacity: 100%;
 }
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.main {
  display: flex;
  height: 100vh;
}

.measurements {
  background-color: #F6F6F6;
  overflow-y: scroll;
}

.measurements__header {
  padding: 10px 15px;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  background-color: #F6F6F6;
}

.measurements__system {

}

.measurements__pattern {
  border-bottom: 1px solid #222222;
  margin-bottom: 10px;
}

.measurements__container {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  padding-top: 0;
}

.styled-select__container {
  display: flex;
  justify-content: space-between;
  width: 275px;
  margin-bottom: 5px;
}

.styled-select__label {
  color: #222222;
}

.styled-select__select {
  color: #222222;
}

.styled-select__options {
  color: #222222;
}

.styled-input__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5px;
  animation: enter-measurements 0.25s ease-in-out;
}

.styled-input__label {
  color: #222222;
}

.styled-input__input {
  width: 100px;
}

.styled-input__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.styled-button {
  border: none;
  color: #5C5C5C;
  background-color: #E6E6E6;
  padding: 10px 30px;
}

.styled-button:hover {
  color: #222222;
  cursor: pointer;
  background-color: #C5C5C5;
}