*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.measurements {
  background-color: #F6F6F6;
  overflow-y: scroll;
}

.measurements__form {
}

.measurements__section-header {

}

.measurements__extra-label {

}

.measurements__label {
  
}

.measurements__input {

}